{{!
  Logo Partial. Works best with webmin.css.
}}
<hgroup>
    <h1><a href="/">WebMin</a>👾</h1>
    <p>A minimal <a href="https://www.php.net/">PHP</a>/<a href="https://www.sqlite.org/">SQLite</a> website template.</p>
</hgroup>
