<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{$ title }}Template{{/ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="HTML5 Example Page">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.violet.min.css">
  <link rel="stylesheet" href="/assets/css/webmin.css">
</head>
<body>
    <header class="container">
    <nav>
        <ul>
            <li><strong><a href="/">Webmin👾</a></strong></li>
        </ul>
    </nav>
    </header>

    {{$ content }}
    <main class="container">
        <h2>Heading Here</h2>
        <p>Content content content</p>
    </main>
    {{/ content }}


  <footer class="container">
        <small>WebMin <a href="https://github.com/eggplantpasta/webmin">development <img src="/assets/images/github-mark.svg" alt="GitHub Logo" width="25" height="25"></a></small>
  </footer>

  <script src="/assets/js/webmin.js"></script>

</body>
</html>
