/* Webmin CSS */
header a, header a:visited, 
footer a, footer a:visited{
  --pico-color: #9062CA;
  text-decoration-color: var(--pico-color);
}

header a:hover,  footer a:hover {
  --pico-primary-hover: #9062CA;
} 

/* Form styling */

form {
  margin: 0 auto; 
  max-width: 600px;
}
