{{< partials/main-layout }}

{{$ title }}{{ content.title }}{{/ title }}

{{$ content }}
<main class="container">
    <h2>{{ content.heading }}</h2>
    <p>{{ content.content }}</p>
</main>
{{/ content }}

{{/ partials/main-layout }}
