{{< user/user-layout }}

{{$ title }}Account{{/ title }}

{{$ content }}
<h2>Account Details</h2>
<p>Welcome, {{ user.username }}.</p>
<p>Your email address is: {{ user.email }}</p>
<p><a href="/user/change-password">Change Password</a></p>
{{/ content }}

{{/ user/user-layout }}
