{{< user/user-layout }}

{{$ title }}Login{{/ title }}

{{$ content }}
<form>
  <h2>Login</h2>
  <fieldset>
    <label>
      User name
      <input name="username" placeholder="mickydee" autocomplete="username" required/>
    </label>
    <label>
      Password
      <input type="password" name="password" placeholder="********" autocomplete="currentpassword" required/>
    </label>
  </fieldset>
    <fieldset class="grid">
      <input type="reset" value="Cancel" class="secondary" />
      <input type="submit" value="Login" />
  </fieldset>
  <p>Don't have an account? <a href="/user/register.php">Register here</a>.</p>
</form>
{{/ content }}

{{/ user/user-layout }}
