{{< user/user-layout }}

{{$ title }}Reset Password{{/ title }}

{{$ content }}
<form>
    <h2>Reset Password</h2>
    <fieldset>
        <label>
        Existing Password
        <input type="password" name="password" placeholder="********" autocomplete="currentpassword" />
        </label>
        <label>
        New Password
        <input type="password" name="new-password" placeholder="********" autocomplete="new-password" />
        </label>
    </fieldset>
    <fieldset class="grid">
        <input type="reset" value="Cancel" class="secondary" />
        <input type="submit" value="Reset Password" />
    </fieldset>
</form>
{{/ content }}

{{/ user/user-layout }}
