{{< user/user-layout }}

{{$ title }}Reset Password{{/ title }}

{{$ content }}
<h2>Reset Password</h2>
<form>
    <fieldset>
        <label>
        Existing Password
        <input type="password" name="password" placeholder="********" autocomplete="currentpassword" />
        </label>
        <label>
        New Password
        <input type="password" name="new-password" placeholder="********" autocomplete="new-password" />
        </label>
    </fieldset>

    <input type="submit" value="Reset Password" />
</form>
{{/ content }}

{{/ user/user-layout }}
