{{< user/user-layout }}

{{$ title }}Reset Password{{/ title }}

{{$ content }}
<form action="{{form.action}}" method="post" novalidate>
    <h2>Reset Password</h2>
    <fieldset>
        <label>
            Current Password
            <button class="password-toggle" type="button" aria-label="Toggle password visibility"></button>
            <input type="password" name="password" placeholder="********" autocomplete="current-password" 
            aria-invalid="{{form.passwordInvalid}}" aria-describedby="invalid-password" value="{{form.password}}" />
            <small id="invalid-password">{{form.passwordErr}}</small>
        </label>
        <label>
            New Password
            <button class="password-toggle" type="button" aria-label="Toggle password visibility"></button>
            <input type="password" name="new-password" placeholder="********" autocomplete="new-password" 
            aria-invalid="{{form.newPasswordInvalid}}" aria-describedby="invalid-new-password" value="{{form.newPassword}}" />
            <small id="invalid-new-password">{{form.newPasswordErr}}</small>
        </label>
    </fieldset>
    <fieldset class="grid">
        <input type="reset" value="Cancel" class="secondary" />
        <input type="submit" value="Reset Password" />
    </fieldset>
</form>
{{/ content }}

{{/ user/user-layout }}
